In [1]:
import pandas as pd

import Clean_data as cld
import Transform_Data as tfd
import Visualize_Data as vld

In [2]:
df_placement = cld.get_placement_data()

In [3]:
df_placement = df_placement[df_placement['status'] == 'Placed']

In [4]:
df_placement['early_specialisation'].value_counts()

Commerce    79
Science     63
Arts         6
Name: early_specialisation, dtype: int64

In [5]:
df_placement['specialisation'].value_counts()

Mkt&Fin    95
Mkt&HR     53
Name: specialisation, dtype: int64

In [6]:
df_placement['degree'].value_counts()

Comm&Mgmt    102
Sci&Tech      41
Others         5
Name: degree, dtype: int64

In [7]:
df_pl_grp = df_placement.groupby(['early_specialisation','degree','specialisation'])['salary'].agg(['mean', 'count', 'median', 'std', 'min', 'max']).sort_values(by='mean',ascending=False)

In [8]:
df_pl_grp

                                                        mean  count    median  \
early_specialisation degree    specialisation
Science              Others    Mkt&Fin         360000.000000      1  360000.0
                     Sci&Tech  Mkt&Fin         322720.000000     25  275000.0
                               Mkt&HR          304066.666667     15  276000.0
Arts                 Others    Mkt&HR          300000.000000      1  300000.0
Commerce             Comm&Mgmt Mkt&Fin         299685.185185     54  277500.0
                     Sci&Tech  Mkt&HR          270000.000000      1  270000.0
                     Comm&Mgmt Mkt&HR          260541.666667     24  260000.0
Science              Comm&Mgmt Mkt&Fin         258800.000000     10  260000.0
                     Others    Mkt&HR          251000.000000      2  251000.0
                     Comm&Mgmt Mkt&HR          244400.000000     10  236500.0
Arts                 Others    Mkt&Fin         240000.000000      1  240000.0
                     Comm&Mgmt Mkt&Fin         238000.000000      4  236000.0

                                                         std       min  \
early_specialisation degree    specialisation
Science              Others    Mkt&Fin                   NaN  360000.0
                     Sci&Tech  Mkt&Fin         115811.455968  200000.0
                               Mkt&HR           72335.001078  210000.0
Arts                 Others    Mkt&HR                    NaN  300000.0
Commerce             Comm&Mgmt Mkt&Fin         116492.743976  200000.0
                     Sci&Tech  Mkt&HR                    NaN  270000.0
                     Comm&Mgmt Mkt&HR           39139.637605  200000.0
Science              Comm&Mgmt Mkt&Fin          27083.410256  216000.0
                     Others    Mkt&HR            1414.213562  250000.0
                     Comm&Mgmt Mkt&HR           46970.912985  200000.0
Arts                 Others    Mkt&Fin                   NaN  240000.0
                     Comm&Mgmt Mkt&Fin           8485.281374  230000.0

                                                    max
early_specialisation degree    specialisation
Science              Others    Mkt&Fin         360000.0
                     Sci&Tech  Mkt&Fin         690000.0
                               Mkt&HR          450000.0
Arts                 Others    Mkt&HR          300000.0
Commerce             Comm&Mgmt Mkt&Fin         940000.0
                     Sci&Tech  Mkt&HR          270000.0
                     Comm&Mgmt Mkt&HR          380000.0
Science              Comm&Mgmt Mkt&Fin         300000.0
                     Others    Mkt&HR          252000.0
                     Comm&Mgmt Mkt&HR          360000.0
Arts                 Others    Mkt&Fin         240000.0
                     Comm&Mgmt Mkt&Fin         250000.0

I'm a little disheartened to see how limited the dataset for this is, in terms of a final unique count of 12 e_specializations, degrees and specializations.

In [9]:
df_pl_grp = df_pl_grp[df_pl_grp['count'] > 4]

In [10]:
df_pl_grp = df_pl_grp.reset_index()

In [11]:
df_pl_grp

,early_specialisation,degree,specialisation,mean,count,median,std,min,max
0,Science,Sci&Tech,Mkt&Fin,322720.000000,25,275000.0,115811.455968,200000.0,690000.0
1,Science,Sci&Tech,Mkt&HR,304066.666667,15,276000.0,72335.001078,210000.0,450000.0
2,Commerce,Comm&Mgmt,Mkt&Fin,299685.185185,54,277500.0,116492.743976,200000.0,940000.0
3,Commerce,Comm&Mgmt,Mkt&HR,260541.666667,24,260000.0,39139.637605,200000.0,380000.0
4,Science,Comm&Mgmt,Mkt&Fin,258800.000000,10,260000.0,27083.410256,216000.0,300000.0
5,Science,Comm&Mgmt,Mkt&HR,244400.000000,10,236500.0,46970.912985,200000.0,360000.0

Our Final 6 contenders slices the number in half, with none of them having an early specialization in Art, nor a degree in 'Other'.

In [12]:
# df_pl_grp.to_csv('Datasets/Education Salaries/Pruned_Placement.csv')

### Degrees that pay back

In [13]:
pb_df = pd.read_csv('Datasets/Education Salaries/degrees-that-pay-back.csv')

In [14]:
pb_df.head(3)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,46000.0,77100.0,0.676,42200.0,56100.0,108000.0,152000.0
1,Aerospace Engineering,57700.0,101000.0,0.750,64300.0,82100.0,127000.0,161000.0
2,Agriculture,42600.0,71900.0,0.688,36300.0,52100.0,96300.0,150000.0

In [15]:
pb_df = pb_df[['Undergraduate Major', 'Starting Median Salary', 'Mid-Career Median Salary', 'Percent change from Starting to Mid-Career Salary']]

In [16]:
pb_mean = pb_df.groupby('Undergraduate Major').mean()

In [17]:
pb_mean

,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary
Undergraduate Major,,,
Accounting,46000.0,77100.0,0.676
Aerospace Engineering,57700.0,101000.0,0.750
Agriculture,42600.0,71900.0,0.688
Anthropology,36800.0,61500.0,0.671
Architecture,41600.0,76800.0,0.846
Art History,35800.0,64900.0,0.813
Biology,38800.0,64800.0,0.670
Business Management,43000.0,72100.0,0.677
Chemical Engineering,63200.0,107000.0,0.693
Chemistry,42600.0,79900.0,0.876
Civil Engineering,53900.0,90500.0,0.679
Communications,38100.0,70000.0,0.837
Computer Engineering,61400.0,105000.0,0.710
Computer Science,55900.0,95500.0,0.708
Construction,53700.0,88900.0,0.655
Criminal Justice,35000.0,56300.0,0.609
Drama,35900.0,56900.0,0.585
Economics,50100.0,98600.0,0.968
Education,34900.0,52000.0,0.490
Electrical Engineering,60900.0,103000.0,0.691
English,38000.0,64700.0,0.703
Film,37900.0,68500.0,0.807
Finance,47900.0,88300.0,0.843
Forestry,39100.0,62600.0,0.601
Geography,41200.0,65500.0,0.590
Geology,43500.0,79500.0,0.828
Graphic Design,35700.0,59800.0,0.675
Health Care Administration,38800.0,60600.0,0.562
History,39200.0,71000.0,0.811
Hospitality & Tourism,37800.0,57500.0,0.521
Industrial Engineering,57700.0,94700.0,0.641
Information Technology (IT),49100.0,74800.0,0.523
Interior Design,36100.0,53200.0,0.474
International Relations,40900.0,80900.0,0.978
Journalism,35600.0,66700.0,0.874
Management Information Systems (MIS),49200.0,82300.0,0.673
Marketing,40800.0,79600.0,0.951
Math,45400.0,92400.0,1.035
Mechanical Engineering,57900.0,93600.0,0.617
Music,35900.0,55000.0,0.532
Nursing,54200.0,67000.0,0.236
Nutrition,39900.0,55300.0,0.386
Philosophy,39900.0,81200.0,1.035
Physician Assistant,74300.0,91700.0,0.234
Physics,50300.0,97300.0,0.934
Political Science,40800.0,78200.0,0.917
Psychology,35900.0,60400.0,0.682
Religion,34100.0,52000.0,0.525
Sociology,36500.0,58200.0,0.595
Spanish,34000.0,53100.0,0.562

In [18]:
pb_mean.to_csv('degree_payback_grouped_mean.csv')